<div class=" flex flex-col items-center text-black justify-center">
  <div class="control flex border items-center py-2 px-4 w-72 shadow-md justify-center">
    <button
      [disabled]="isTen"
      class="bg-green-500 border py-2 px-4 rounded mr-2 text-white"
      (click)="add()"
    >
      +
    </button>
    <p class="mr-2 text-black">{{ count }}</p>
    <button
      [disabled]="isNull"
      class="bg-red-400 border py-2 px-4 rounded mr-2 text-white"
      (click)="subtruct()"
    >
      -
    </button>
    <button
      class="bg-pink-400 border py-2 px-6 rounded text-white"
      (click)="defaultCount()"
      [disabled]="isDisabled"
    >
      Reset
    </button>
  </div>
  <app-counter-settings [count]="count" (onSave)="getSettings($event)"></app-counter-settings>
</div>
