<div>
  <h1>Vocabulary</h1>
  <form
    class="max-w-3xl container border rounded py-4 px-6 mb-2 flex ml-auto mr-auto justify-center items-center md"
  >
    <input
      [(ngModel)]="deutsch"
      class="border rounded mr-2 py-1 px-2"
      type="text"
      placeholder="Deutsch das Wort"
    />
    <input
      [(ngModel)]="english"
      class="border rounded mr-2 py-1 px-2"
      type="text"
      placeholder="English word"
    />
    <input
      [(ngModel)]="russian"
      class="border rounded mr-2 py-1 px-2"
      type="text"
      placeholder="Русское слово"
    />
    <button
      (click)="addWord()"
      class="border rounded mr-2 bg-blue-500 text-white px-4 py-1"
    >
      hinzufügen das Wort
    </button>
  </form>
  <div></div>
  <div></div>
</div>
