<app-todo-wiget></app-todo-wiget>
<app-from-event></app-from-event>
<button
  class="border rounded bg-emerald-200 py-0.5 px-4 mr-2"
  (click)="show = !show"
>
  Toggle
</button>
<button
class="border rounded bg-cyan-200 py-0.5 px-4"
(click)="title = title + 1">Modify Title</button>
<app-parent *ngIf="show" [title]="title"></app-parent>

<div>
  <button
    class="border rounded bg-orange-600 px-4 py-1 text-white"
    (click)="menu.show()"
  >
    Open menu
  </button>
  <app-menu #menu>
    <p>From App Component</p>
  </app-menu>
</div>

<div>
  <button
    class="border rounded bg-orange-600 px-4 py-1 text-white"
    (click)="menu1.show()"
  >
    Open menu
  </button>
  <app-menu #menu1>
    <p>From App Component 2</p>
  </app-menu>
</div>

<div>
  <button
    class="border rounded bg-orange-600 px-4 py-1 text-white"
    (click)="menu2.show()"
  >
    Open menu
  </button>
  <app-menu #menu2>
    <p>From App Component 3</p>
  </app-menu>
</div>

<app-content [template]="ref">
  <h2 class="header">Header</h2>
  <p class="body">Body</p>
  <footer class="footer">Footer</footer>
</app-content>

<ng-template #ref let-element>
  <p>{{ element }} I am from App component</p>
</ng-template>

<app-foo [(counter)]="age" title="new Title"></app-foo>
<hr />

<app-global-error></app-global-error>

<app-binding></app-binding>
<hr />

<app-header></app-header>
<div *ngIf="words$ | async as words">
  <app-vocabulary [fooBar]="'123'" [words]="words"></app-vocabulary>
</div>
<app-counter></app-counter>

<div class="max-w-2xl container mx-auto pt-5">
  <h1 class="font-bold mb-4 text-center text-lg">{{ title | titlecase }}</h1>
  <h1 class="font-bold mb-4 text-center text-lg">{{ title | titlecase }}</h1>
  <input
    type="text"
    class="mb-2 border py-2 px-4 w-full"
    placeholder="Filter products..."
    [(ngModel)]="term"
  />

  <p *ngIf="loading" class="text-center text-lg">Loading...</p>

  <div *ngIf="products$ | async as products">
    <app-product
      *ngFor="let product of products | filterProducts: term; let i = index"
      [product]="product"
    ></app-product>
  </div>
</div>
