<app-global-error></app-global-error>

<app-binding></app-binding>
<app-header></app-header>
<app-vocabulary>
  <app-vocabulary-list
    *ngFor="let word of words$ | async"
    [word]="word"
  ></app-vocabulary-list>
</app-vocabulary>
<app-counter></app-counter>

<div class="max-w-2xl container mx-auto pt-5">
  <h1 class="font-bold mb-4 text-center text-lg">{{ title | titlecase }}</h1>
  <h1 class="font-bold mb-4 text-center text-lg">{{ title | titlecase }}</h1>
  <input
    type="text"
    class="mb-2 border py-2 px-4 w-full"
    placeholder="Filter products..."
    [(ngModel)]="term"
  />

  <p *ngIf="loading" class="text-center text-lg">Loading...</p>

  <div *ngIf="products$ | async as products">
    <app-product
      *ngFor="let product of products | filterProducts: term; let i = index"
      [product]="product"
    ></app-product>
  </div>
</div>
