<ul class="mr-auto ml-auto max-w-4xl px-20">
  <li class="flex flex-row mb-2 justify-between py-2 " >
    <p class="border rounded mr-4 py-1 px-4 w-1/5">{{ word.deutsch }}</p>
    <p class="border rounded mr-4 py-1 px-4 w-1/5">{{ word.english }}</p>
    <p class="border rounded mr-4 py-1 px-4 w-1/5">{{ word.russian }}</p>
    <p class="border rounded mr-4 py-1 px-4 w-1/5">{{ word.typeOfWord }}</p>
    <div class="flex">
      <button
      (click)="onEdit(word)"
      type="button"
      class="border rounded mr-4 py-1 px-4 h-8 bg-yellow-300"
      >Edit</button>
      <button class="border rounded mr-4 py-1 px-4 h-8 bg-blue-300">Delete</button>
    </div>
    <div *ngIf="isEdit">
      <app-form-word></app-form-word>
    </div>
  </li>
</ul>
